{% extends 'base.html.twig' %}

{% block content_title %}
    Lost Password Reset
{% endblock %}

{% block content %}
    {% include 'flash.html.twig' %}
    <p class="lead">Forgotten your password? Enter your email address below to begin the reset process.</p>
    <form method="post" action="" role="form">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="inputEmail">Email Address</label>
                <input name="email" class="form-control" id="inputEmail" placeholder="Enter email" autofocus="" type="email">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
