{% extends 'base.html.twig' %}

{% block content_title %}
    Lost Password Reset
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="alert alert-success text-center">
                 Validation Email Sent
            </div>
        </div>
    </div>
    <div class="text-center">
        The password reset process has now been started. Please check your email for instructions on what to do next.
    </div>
{% endblock %}
