Dear {{ fullName }},
<br>
A request was submitted to reset your password. Please use the link below to continue with resetting your password.
<br>
<a href="{{ ( (MAIN_URL[0:-1]) ~ path('recoverPassword', {k: k}) ) }}">Reset password</a>
<br>
This link will expire in 24 hours. If the link has expired, simply request to reset your password again to get a new link.
<br>
Or copy-paste that url in your web browser:
<br>
{{ ( (MAIN_URL[0:-1]) ~ path('recoverPassword', {k: k}) ) }}
<br>
If you did not submit this request, please contact our support team to resolve any issues with your account.